<%= form_for(@listing, :html => {:multipart => true}) do |f| %>
    <% if @listing.errors.any? %>
        <div id="error_explanation" class="alert alert-danger alert-dismissable">
          <button type="button" class="close" aria-hidden="true" data-dismiss="alert"></button>
          <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

          <ul>
            <% @listing.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %><div class="annotate">(What do you call your drink?)</div>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :category %><div class="annotate">(What category of beverages does it belong to?)</div>
      <%= f.select :category, options_for_select([["Select an option",""], "Wine and Champagne", "Highball", "Shooter", "Shaken", "Martini", "Cocktail", "Mocktail", "Beer"]), class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %><div class="annotate">(How would you describe your drink in 10 words?)</div>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label 'alcohol Percentage' %><div class="annotate">(What percentage of alcohol does the drink contain?)</div>
      <%= f.text_field :liqperc, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :liqours %><div class="annotate">(Alcoholic drinks required for recipe)</div>
      <%= f.text_field :liqours, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :mixers %><div class="annotate">(Alcoholic drinks required for recipe)</div>
      <%= f.text_field :mixers, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :recipe %><div class="annotate">(The detailed recipe for preparing your beverage)</div>
      <%= f.text_area :recipe, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :image %><div class="annotate">(How does your drink look like?)</div>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
    </div>
<% end %>
