<% provide(:title, 'Home') %>
<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
        <div class="col-lg-4 col-md-4">
          <div class="thumbnail">
            <%= link_to image_tag(listing.image.url), listing %>
            <div class="caption">
              <h3><%= listing.name %></h3>
              <p><%= listing.category %>, <%= listing.liqperc %>% Alc. </p>
              <p><%= listing.description.truncate_words(6) %></p>
              <p><%= "Recipe by #{listing.user.name}" %> </p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<br>