<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Liqperc:</strong>
  <%= @listing.liqperc %>
</p>

<p>
  <strong>Liqours:</strong>
  <%= @listing.liqours %>
</p>

<p>
  <strong>Mixers:</strong>
  <%= @listing.mixers %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @listing.recipe %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
