<% provide(:title, @listing.name) %>
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @listing.image.url() %>
    </div>
  </div>
  <div class="col-md-6">
    <h3><%= @listing.name %></h3>
    <h5>
      <%= @listing.category %>, <%= @listing.liqperc %>% Alc.<br>
      <br>
      <%= @listing.description %> <br>
    </h5>
    <p><p><%= link_to "upvote", like_listing_path(@listing), method: :put, class: 'btn btn-primary' %>&nbsp <%= @listing.score %>&nbsp <%= link_to "downvote", dislike_listing_path(@listing), method: :put, class: 'btn btn-danger' %></p></p>
    <p>
      Liqours: <%= @listing.liqours %><br>
      Mixers: <%= @listing.mixers %><br>
      Recipe: <%= @listing.recipe %><br>
    </p>
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>

  </div>
</div>
<% if  current_user == @listing.user %>
    <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
    <%= link_to 'Destroy', @listing, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
